@import "style.css";

body {
    max-height: 100%;
    overflow: hidden;
}


paddle, ball {
    position: absolute;
    display: block;
    box-sizing: border-box;
}

paddle {
    background-image: url('../assets/img/breakout/paddle.png');
    width: 173px;
    height: 31px;
    cursor: pointer;
}

ball {
    background-image: url('../assets/img/breakout/ball.png');
    width: 128px;
    height: 128px;
    cursor: pointer;
}

