@import "style.css";

body {
    background-color: lavender;
}
background {
    z-index: -1;
    background-image: url('../assets/img/breakout/border.png');
    width: 1280px;
    height: 720px;
    display: block;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 30px 30px;
}

paddle, ball {
    position: absolute;
    display: block;
    box-sizing: border-box;
}

paddle {
    background-image: url('../assets/img/breakout/paddle.png');
    width: 173px;
    height: 31px;
    cursor: pointer;
}

ball {
    background-image: url('../assets/img/breakout/ball.png');
    width: 128px;
    height: 128px;
    cursor: pointer;
}