@import "style.css";

body {
    max-height: 100%;
    overflow: hidden;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


paddle, ball {
    position: absolute;
    display: block;
    box-sizing: border-box;
}

paddle {
    background-image: url('../assets/img/breakout/paddle.png');
    width: 173px;
    height: 31px;
    cursor: pointer;
}

ball {
    background-image: url('../assets/img/breakout/ball.png');
    width: 128px;
    height: 128px;
    cursor: pointer;
}

brickgrid {
    position: absolute;

    margin: 30px;

    display: grid;

    grid-template-columns: repeat(5, 12vw);
    grid-template-rows: repeat(5, 4vw);
    column-gap: 20px;
    row-gap: 20px;

}

brick {
    font-size: 3.5vw;
    text-align: center;

    color:azure;

    font-weight: 900;
    padding: auto;
    
    height: 4vw;
    width: 12vw;

    background-repeat: no-repeat;
    background-size: contain;

    background-color: purple;

    background-image: url('../assets/img/breakout/brickPurple.png');
}

.dead {
    background-color: #00000000;

    background-image: url('');
}