@import "style.css";

background {
    z-index: -1;
    background-image: url('../assets/img/snake/background.jpg');
    background-position: bottom center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

snakeSegment {
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color-dark);
    border-radius: 100px;
    width: 80px;
    height: 80px;
}

body {
    max-height: 100%;
    overflow: hidden;
}

.gameComp {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.red {
    background-color: var(--tertiary-color);
}

.blue {
    background-color: var(--primary-color) !important;
}

.gameLetter {
    z-index: -10;
}

.item-footer {
    display: flex;
    justify-content: center;
}

.item-footer h2 {
    margin-top: 0;
    font-size: 70px;
}

#progressBar {
    position: absolute;
    color: var(--white1);
}

#progressBG {
    color: var(--white2)
}

#progress {
    display: flex;
    justify-content: flex-start;
}

#deathMenu {
    z-index: 100;
}
