:root{

    /* Accent Colors */
    --primary-color-dark:   hsl(198, 100%, 35%);
    --primary-color:        #00b3ff;
    --primary-color-light:  hsl(198, 100%, 65%);

    --secondary-color-dark: hsl(109, 60%, 35%);
    --secondary-color:      #4fcc33;
    --secondary-color-light:hsl(109, 60%, 65%);

    --tertiary-color-dark:  hsl(357, 76%, 35%);
    --tertiary-color:       #e01f28;
    --tertiary-color-light: hsl(357, 76%, 65%);

    /* Dark Theme */

    /* --bg-color:             hsl(225, 8%, 7%);

    --surface-color-dark:   hsl(225, 8%, 11%);
    --surface-color:        hsl(225, 8%, 15%);
    --surface-color-light:  hsl(225, 8%, 20%);

    --error-color:          hsl(346, 91%, 26%);

    --onsurface-color:      var(--white1);
    --onsurface-color2:     var(--white2);
    --onsurface-color3:     var(--white3);

    --onprimary-color:      var(--white1);
    --onprimary-color2:     var(--white2);
    --onprimary-color3:     var(--white3); */

    /* Light Theme */

    --bg-color:             #f1f2f3;

    --surface-color-dark:   #e3e4e8;
    --surface-color:        hsl(230, 8%, 85%);
    --surface-color-light:  hsl(225, 8%, 80%);

    --error-color:          hsl(354, 62%, 39%);

    --onsurface-color:      var(--black1);
    --onsurface-color2:     var(--black2);
    --onsurface-color3:     var(--white3);

    --onprimary-color:      var(--white1);
    --onprimary-color2:     var(--white2);
    --onprimary-color3:     var(--white3);

    /* Default blackwhite */

    --white1:               #FFFFFFdd;
    --white2:               #FFFFFF99;
    --white3:               #FFFFFF60;

    --black1:               #000000dd;
    --black2:               #00000099;
    --black3:               #00000060;

    /* Colorpallet */

    --edg32-darkblue:       #124e89;
    --edg32-blue:           #0099db;
    --edg32-lightblue:      #2ce8f5;
    
}   

@font-face {
    font-family: lettersForLearners;
    src: url(../assets/fonts/letters_for_learners.ttf);

    font-family: setFireToTheRain;
    src: url(../assets/fonts/set_fire_to_the_rain.ttf);
}

body {
    margin: auto;
    padding: 0;

    color: var(--onsurface-color);
    background-color: var(--bg-color);
    font-family: setFireToTheRain, Comic Sans MS, Arial, Helvetica, sans-serif;
}

.fox {
    background-image: url(../assets/img/general/foxIdle1.png);
    transform : scaleX(-1);
    background-repeat: no-repeat;
    width: 56px;
    height: 69px;
    cursor: pointer;
    position: fixed;
    bottom: 10vh;
    right: 1vh;
}

h1 {
    color: var(--onprimary-color);
    font-size: 4em;
    padding: auto;

    text-align: center;
    justify-content: center;
    align-items: center;
}

h2 {
    color: var(--onprimary-color);
    font-size: 2em;
    padding: auto;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons {
    height: auto;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin: auto;
}

.return {
    background-image: url(../assets/img/general/return.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    left: 5vh;
    color: var(--black1);
}


.item-header {
    grid-area: header;
    background: var(--edg32-blue);
    justify-content: space-around;
    
    align-items: center;
    text-align: center;
    
    display: flex;
  }
.item-leftbar {
    grid-area: leftbar;
    background: var(--edg32-lightblue);
}
.item-main {
    grid-area: main;
    display: flex;
}
.item-rightbar {
    grid-area: rightbar;
    background: var(--edg32-lightblue);
}
.item-footer {
    grid-area: footer;
    background: var(--edg32-blue);
}

.container {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
        "header header header"
        "leftbar main rightbar"
        "footer footer footer";
    z-index: -1;
}

game, level {
    position: absolute;
    display: block;
    box-sizing: border-box;

    width: 70vw;
    height: 80vh;
}



/* Button */

.btn, 
a .btn,
input[type="submit"] {
    background: var(--primary-color);
    color: var(--onprimary-color);

    margin: 15px;
    width: 20vw; 
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    display: block;

    text-align: center;
    text-decoration: none;
    font-size: vmax;

    cursor: pointer;
}

.btn:hover, 
.btn:active {
    background: var(--primary-color-light);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}

.btn.secondary {
    background: var(--secondary-color);
    color: var(--onprimary-color);
}

.btn.secondary:hover, 
.btn.secondary:active {
    background: var(--secondary-color-light);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}

.btn.tertiary {
    background: var(--tertiary-color);
    color: var(--onprimary-color);
}

.btn.tertiary:hover, 
.btn.tertiary:active {
    background: var(--tertiary-color-light);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}

#snake-image {
    border-radius: 10px;
    width: 400px;
    cursor: pointer;
    border: 10px solid var(--secondary-color);
}

#snake-image:hover {
    border-radius: 100px;
    width: 400px;
    cursor: pointer;
    border: 10px solid var(--secondary-color);
}